/* ===== Primary Styles ======= */


/* 
* Tools
*******************/

html {-webkit-font-smoothing: antialiased;}
img{display: block;max-width: 100%;height: auto;}

/* Bootstrap Modal Scrollbar Push Fix */
.modal {overflow-y: auto;}
.modal-open {overflow: auto;}

/* 
* Layout
*******************/

body{font-family: 'Nunito', sans-serif;}

.description{padding: 200px 0 240px;background: url(../images/bg.jpg) no-repeat center center;background-size: cover;}
.description .container{
    /* padding-left: 30px; */
}
.description h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #fdd140;
    letter-spacing: 0;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    margin: 0 0 14px 0;
}
.description p{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
.description p a{
    color: #fdd140;
}

.the-bar{
    background: #FDD140;
    padding: 25px 0 20px;
    height: auto;
}
.the-bar .logo-holder{
    margin-top: -87px;
    /* width: 300px; */
    /* display: inline-block; */
    /* vertical-align: top; */
    margin: -87px 0 40px 0;
}
.the-bar .logo-holder img{}
.the-bar .info-holder{
}
.the-bar .info-holder h2{
    margin: 30px 0;
}
.the-bar .info-holder h2 span{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #232323;
    letter-spacing: 0;
}
.the-bar .info-holder h2 i{
    background: #376FA0;
    border: 3px solid #FFFFFF;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: 0px 62px -3px;
}
.the-bar .info-holder h2 span:last-child{}
.the-bar .info-holder p{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #232323;
    letter-spacing: 0;
    margin: 18px 0;
}
.the-bar .info-holder form{}
.the-bar .info-holder .form-group{
    position: relative;
    width: 100%;
    margin-bottom: 0;
}
.the-bar .info-holder .form-control{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #282828;
    letter-spacing: 0;
    background: #FFFFFF;
    border-radius: 4px;
    height: 63px;
    width: 100%;
    border: none;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    padding-right: 230px;
}
.the-bar .info-holder form .submit-btn{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    border-radius: 4px;
    background: #376FA0;
    border: none;
    width: 210px;
    height: 51px;
    position: absolute;
    top: 6px;
    right: 6px;
}
.socials{
    /* margin-bottom: 10px; */
    text-align: right;
    margin: 45px 0 0 0;
}
.socials .mail{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #376FA0;
    letter-spacing: 0;
    background: #FFFFFF;
    border-radius: 4px;
    height: 51px;
    display: inline-block;
    width: 157px;
    text-align: center;
    padding: 14px 0;
    margin-right: 10px;
    vertical-align: top;
    text-decoration: none !important;
}
.socials .mail img{
    display: inline-block;
    vertical-align: middle;
    margin: -1px 0 0 6px;
}
.socials .social{
    width: 51px;
    height: 51px;
    display: inline-block;
    background: #fff;
    border-radius: 4px;
    margin: 0 10px 0 0;
    vertical-align: top;
}
.socials .social:last-child{margin-right: 0;}
.socials .social img{
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

#mce-responses{
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    margin: 5px 0 0 0;
}
#mce-responses .response{
    border: 2px solid #376fa0;
    background: #fff;
    padding: 5px 12px;
    border-radius: 4px;}
#mc_embed_signup div.mce_inline_error{
    display: block;
    border: 2px solid #6B0505;
    background: #fff !important;
    padding: 5px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    margin: 5px 0 0 0 !important;
    color: #000 !important;
}

header{
    background: #FFFFFF;
    -webkit-box-shadow: 0 10px 15px 0px rgba(0, 0, 0, .55);
            box-shadow: 0 10px 15px 0px rgba(0, 0, 0, .55);
    padding: 20px 0;
    position: relative;
    z-index: 5;
    /* position: relative; */
}
header .logo{
    display: inline-block;
    vertical-align: middle;
}
header .logo img{
    width: 115px;
}
header .titles{display: inline-block;vertical-align: middle;padding-left: 20px;}
header .titles h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #232323;
    letter-spacing: 0;
    margin: 0;
}
header .titles h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #232323;
    letter-spacing: 0;
    margin: 5px 0 0 0;
}
header nav{
    float: right;
    margin: 53px 0;
}
header nav a{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #376FA0 !important;
    letter-spacing: 0;
    margin-right: 24px;
    text-decoration: none !important;
}
header nav a:last-child{
    margin-right: 0;
}
header .nav-trigger{
    text-decoration: none !important;
    display: none;
}
header .nav-trigger i{
    -webkit-transform-origin: left center;
        -ms-transform-origin: left center;
            transform-origin: left center;
    width: 34px;
    height: 4px;
    display: block;
    background: #376FA0;
    font-style: normal;
    position: relative;
    border: none;
    border-radius: 40px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}
header .nav-trigger i:before{
    top: -8px;
}
header .nav-trigger i:after{
    bottom: -8px;
}
header .nav-trigger i:after, header .nav-trigger i:before{content:'';position: absolute;background: #376FA0;width:100%;height: 4px;border-radius: 40px;display: block;-webkit-transition: all .25s ease;-o-transition: all .25s ease;transition: all .25s ease;}

.the-venue{background: url(../images/venue-bg.png) no-repeat center center;background-size: cover;padding: 140px 0;border-bottom: 4px solid #FDD140;}
.become-sponsor{background: url(../images/become-sponsor-bg.jpg) no-repeat center center;background-size: cover;padding: 140px 0;border-bottom: 4px solid #FDD140;}
.get-tickets{background: url(../images/ticket-bg.jpg) no-repeat center center;background-size: cover;padding: 140px 0;border-bottom: 4px solid #FDD140;}
.financial-aid{background: url(../images/financial-bg.jpg) no-repeat center center;background-size: cover;padding: 140px 0;border-bottom: 4px solid #FDD140;}
.module-content{}
.module-content h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 26px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    margin: 0 0 20px 0;
}
.module-content p, .module-content li{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
.module-content a{}
.module-content .btn.secondary{
    background: #FDD140;
    color: #232323;
    border-color: #FDD140;
}
.module-content .btn.faded{
    background: #232323;
    color: #fdd140;
    border-color: #fdd140;
}
.module-content .btn{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    min-width: 210px;
    background: #376FA0;
    border-radius: 4px;
    padding: 16px 20px;
    border: 4px solid #FFFFFF;
    margin: 20px 10px 0px 0;
}
.take-part{background: url(../images/apply-bg.png) no-repeat center center;background-size: cover;padding: 120px 0;border-bottom: 4px solid #FDD140;}
.the-venue .venue{}
.the-venue .venue img{
    width: 100%;
    border: 4px solid #fff;
    border-radius: 4px;
}
.the-venue .venue span{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    text-align: center;
    display: block;
    margin: 10px 0 0 0;
}

footer{
    background: #fdd140;
    -webkit-box-shadow: 0 3px 14px 0 rgba(0,0,0,0.07);
            box-shadow: 0 3px 14px 0 rgba(0,0,0,0.07);
    padding: 30px 0 40px;
}
footer .logo{
    display: inline-block;
    vertical-align: middle;
}
footer .logo img{
    width: 115px;
}
footer .titles{display: inline-block;vertical-align: middle;padding-left: 20px;}
footer .titles h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #232323;
    letter-spacing: 0;
    margin: 0;
}
footer .titles h2{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #232323;
    letter-spacing: 0;
    margin: 5px 0 0 0;
}
footer nav{
    float: right;
    margin: 23px 0 0;
}
footer nav a{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #232323 !important;
    letter-spacing: 0;
    margin-right: 30px;
    text-decoration: none !important;
}
footer nav a:last-child{
    margin-right: 0;
}

.text-content-header{
    background: url(../images/bg.jpg) no-repeat center top;
    background-size: cover;
    padding: 120px 0;
}
.text-content-header h2{
    text-align: center;
    color: #fff;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
.text-content{
    padding-bottom: 75px;
}
.text-content h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: hsla(208, 49%, 40%, 1) !important;
    letter-spacing: 0;
    line-height: 1.35em;
}
.text-content p, .text-content li{
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #232323;
    letter-spacing: 0;
    line-height: 1.35em;
    margin-bottom: 20px;
}
.text-content p a, .text-content li a{color: #376FA0 !important; text-decoration: underline !important;}
.text-content .full-image{
    border-radius: 4px;
    border: 4px solid #fdd140;
    margin: 10px 0;
}

.keynote-speakers{background: url(../images/keynote-bg.jpg) no-repeat center center;background-size: cover;padding: 120px 0;border-bottom: 4px solid #FDD140;}
.keynote-speakers .speakers{
    margin: 70px 0 0 0;
}
.keynote-speakers .speaker{
    font-size: 0;
    margin-bottom: 60px;
}
.keynote-speakers .speaker:last-child{margin-bottom: 0;}
.keynote-speakers .speaker img{
    width: 145px;
    display: inline-block;
    vertical-align: top;
}
.keynote-speakers .speaker .info{
    display: inline-block;
    width: calc(100% - 145px);
    padding: 0 45px 0 25px;
}
.keynote-speakers .speaker .info h3{
    font-size: 24px;
    color: #fff;
    margin: 15px 0 10px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}
.keynote-speakers .speaker .info p{
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
}

.sponsors{background: url(../images/sponsor-bg.jpg) no-repeat center center;background-size: cover;padding: 120px 0;border-bottom: 4px solid #FDD140;}
.sponsors .sponsor-list{}
.sponsors .sponsor{text-decoration: none !important;vertical-align: top;}
.sponsors .sponsor h3{
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    text-align: center;
}
.sponsors .sponsor p{
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    text-align: left;
}
.sponsors .tier-1{
    margin: 60px 0 80px;
    text-align: center;
}
.sponsors .tier-2{
    font-size: 0;
    margin: 80px 0;
    text-align: center;
}
.sponsors .tier-3{
    font-size: 0;
    margin: 80px 0 45px;
    text-align: center;
}
.sponsors .tier-4{
    text-align: center;
    font-size: 0;
    margin: 80px 0 45px;
}
.sponsors .tier-title{
    text-align: center;
    color: #FDD140;
    margin: 20px 0 40px 0;
}
.sponsors .tier-1 h3{
    font-size: 24px;
    margin: 20px 0 10px;
}
.sponsors .tier-2 h3{
    font-size: 20px;
    margin: 14px 0 7px;
}
.sponsors .tier-3 h3{
    font-size: 14px;
    margin: 10px 0 0;
}
.sponsors .tier-4 h3{}
.sponsors .tier-1 p{padding: 0 25px;}
.sponsors .tier-2 p{font-size: 13px;padding: 0 15px;}
.sponsors .tier-1 .sponsor{
    /* padding-right: 30px; */
    display: inline-block;
    float: none;
    width: 33%;
}
.sponsors .tier-2 .sponsor{
    width: 20%;
    display: inline-block;
    /* padding-right: 15px; */
}
.sponsors .tier-3 .sponsor{
    width: 75px;
    display: inline-block;
    margin: 0 18px 18px;
}
.sponsors .tier-4 .sponsor{
    display: inline-block;
    margin: 0 10px 20px;
}
.sponsors .logo-holder{
    border: 2px solid #FDD140;
    border-radius: 35px;
    margin: 0 auto;
    -webkit-box-shadow: 0 9px 8px -9px #FDD140;
            box-shadow: 0 9px 8px -9px #FDD140;
    -webkit-box-shadow: 0 17px 19px -18px #fdd140c2, 0px 12px 11px -7px #000000a8;
            box-shadow: 0 17px 19px -18px #fdd140c2, 0px 12px 11px -7px #000000a8;
    background: #0000005e !important;
}
.sponsors .logo-holder img{
    margin: 0 auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 75%;
    max-height: 75%;
}
.sponsors .tier-1 .logo-holder{
    width: 140px;
    height: 140px;
}
.sponsors .tier-2 .logo-holder{
    width: 100px;
    height: 100px;
    -webkit-box-shadow: 0 9px 8px -9px #fdd1407a;
            box-shadow: 0 9px 8px -9px #fdd1407a;
    border-radius: 24px;
}
.sponsors .tier-3 .logo-holder{
    border: none;
    background: #fff;
    width: 75px;
    height: 75px;
    border: 2px solid #376FA0;
    -webkit-box-shadow: 0 9px 8px -8px #376FA0;
            box-shadow: 0 9px 8px -8px #376FA0;
    border-radius: 14px;
}
.sponsors .tier-4 .logo-holder{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #376FA0;
    -webkit-box-shadow: 0 9px 8px -8px #376fa073;
            box-shadow: 0 9px 8px -8px #376fa073;
    background: #fff;
}
.sponsors .tier-3 .logo-holder img{
}
.sponsors .tier-4 .logo-holder img{}
.sponsors .tier-4 h4 {
    color: #fff;
}

.text-content .container{max-width: 1000px;}
.text-content h4{font-weight: 600;}

.bottom-logos .logos{
    text-align: center;
    margin: 15px 0 15px;
    /* text-align: left; */
}
.bottom-logos .logos a{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.bottom-logos .logos a img{
    width: 100%;
}
.bottom-logos .logos a:after{position: absolute;top: 50%;right: -5px;background: #cacaca;border-radius: 50px;content:'';width: 7px;height: 7px;}
.bottom-logos .logos a:last-child:after{display: none;}
.bottom-logos .logos .cmple{
    width: 255px;
    padding: 0 20px;
}
.bottom-logos .logos .pyist{
    width: 150px;
    padding: 0 20px;
}

.schedule{
    background: -webkit-gradient(linear, left top, left bottom, from(#0c162b), to(#00030a));
    background: -o-linear-gradient(top, #0c162b, #00030a);
    background: linear-gradient(180deg, #0c162b, #00030a);
    padding: 90px 0;
    border-bottom: 4px solid #FDD140;
}
.schedule .tabs-holder{
    margin: 40px 0 0 0;
}
.schedule .nav-tabs{
    border-color: #d1ac3321;
    text-align: center;
}
.schedule .nav-tabs li{
    display: inline-block;
    float: none;
}
.schedule .nav-tabs li.active{}
.schedule .nav-tabs li.active a{
    /* color: #000; */
    /* background: #fff !important; */
    border-top: none;
    border-bottom-color: #d1ac33;
    color: #fff;
    border-left: none;
    border-right: none;
    color: #d1ac33;
    opacity: 1;
}
.schedule .nav-tabs li a{
    font-size: 24px;
    color: #fff;
    background: transparent !important;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    border: none;
    border-bottom: 1px solid transparent;
    opacity: .75;
    margin: 0 14px;
}
.schedule .nav-tabs li a:hover, .schedule .nav-tabs li a:focus{
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-color: #d1ac33;
}
.schedule .tab-content{}
.schedule .tab-content .tab-pane{
    margin: 18px 0;
    font-size: 0;
}
.schedule .tab-content .tab-pane.active{}
.schedule .tab-pane{}
.schedule .tab-pane .time{
    color: #fff;
    font-size: 18px;
    margin: 20px 0 20px;
    padding-left: 24px;
    border-bottom: 1px solid #d1ac34;
    padding-left: 0;
    padding-bottom: 6px;
}
.schedule .tab-pane .talk{
    padding: 0 16px;
    float: none;
    display: inline-block;
    vertical-align: top;
}
.schedule .tab-pane .content{
    font-size: 0;
    padding-right: 24px;
    margin-bottom: 32px;
}
.schedule .tab-pane .content img{
    width: 100px;
    height: 100px;
    display: inline-block;
}
.schedule .tab-pane .content .desc{
    display: inline-block;
    width: calc(100% - 100px);
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
    padding-left: 12px;
    font-weight: 700;
    line-height: 1.25em;
}
.schedule .tab-pane .content .desc span{
    display: block;
    margin: 6px 0 0 0;
    font-weight: 400;
    font-size: 15px;
}

/* 
* Media Queries
*******************/

@media only screen and (min-width : 1200px) {

}

@media only screen and (max-width : 1200px) {
    .the-bar .info-holder p{margin: 0;}
    .sponsors .tier-2 .sponsor{
    width: 33%;
    margin-bottom: 30px;
    padding-right: 25px;
}
    .sponsors .tier-2{text-align: center;}

}

@media only screen and (max-width : 992px) {
    .sponsors .tier-1 .sponsor{
    padding: 0;
    margin-bottom: 60px;
}
    .sponsors .tier-1{}
    .sponsors .tier-1 .logo-holder{}
    .sponsors .tier-1 h3{}
    .sponsors .tier-1 p{
    max-width: 520px;
    margin: 0 auto;
}
    .container{width: 100%;padding: 0 20px;}
    header .logo img{
    width: 96px;
}
    header .titles{
    padding-left: 12px;
}
    header .titles h1{
    font-size: 18px;
}
    header .titles h2{
    font-size: 14px;
}
    header{padding: 0;}
    header .nav-trigger.opened{}
    header .nav-trigger.opened i{background: transparent;}
    header .nav-trigger.opened i:before{
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}
    header .nav-trigger.opened i:after{
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}
    header .nav-trigger.opened i:after, header .nav-trigger.opened i:before{
    top: 0px;
}
    header .nav-trigger{
    display: block;
    float: right;
    margin: 54px 0;
}
    header nav{
    display: none;
    float: none;
    position: absolute;
    top: 132px;
    margin: 0;
    width: 100%;
    background: #fdd140;
    padding: 10px 20px;
    left: 0;
    -webkit-box-shadow: 0 10px 15px 0px rgba(0, 0, 0, .55);
            box-shadow: 0 10px 15px 0px rgba(0, 0, 0, .55);
    text-align: center;
}
    header nav a{
    display: block;
    width: 100%;
    padding: 10px 0;
    font-weight: 700;
    color: #232323 !important;
}
    header .container{padding-top: 10px;padding-bottom: 10px;}
    .the-venue .pull-right{float:none !important;}
    .the-venue .venue img{}
    .the-venue .venue{
    width: 500px;
    max-width: 100%;
    margin: 40px 0 0 0;
}
    .the-bar .pull-right{float:none !important;}
    .the-bar .info-holder{
    display: block;
    width: 100%;
    padding: 0;
}
    .the-bar .logo-holder{
    width: 280px;
    margin: -87px auto 0px auto;
}
    .the-bar .logo-holder img{}
    .the-bar{
    /* position: static; */
    /* margin: 100px 0 0 0; */
}
    .description .container{
    padding-top: 50px;
    padding-bottom: 50px;
}
    .description p{
    padding: 0;
    margin-bottom: 0;
}
    .the-bar .info-holder h2{
    text-align: center;
    margin: 20px 0 25px;
}
    .the-bar .info-holder p{
    /* max-width: unset; */
    text-align: center;
    /* max-width: 90%; */
    /* width: 445px; */
    margin: 0px auto 20px;
}
    .the-bar .info-holder .form-group{
    width: auto;
}
    .the-bar .info-holder .form-control{
    width: 100%;
}
    .the-bar .info-holder form .submit-btn{}
    .socials{}
    .socials .mail{}
    .socials .social{}
    .socials .social:last-child{}
    footer .logos{
        text-align: center;
    }
}

@media only screen and (max-width : 768px) {

    .sponsors .tier-1{
    margin: 40px 0 30px;
}
    .sponsors .tier-2{
    margin: 30px 0 0;
}
    .sponsors .tier-3{
    margin: 10px 0 20px;
}
    .sponsors .tier-4{}
    .sponsors .tier-2 .sponsor{
    width: 50%;
}
    .become-sponsor{padding: 75px 0;}
    .keynote-speakers{padding: 75px 0;}
    .keynote-speakers .speakers{margin: 45px 0;}
    .keynote-speakers .speaker{
    margin-bottom: 40px;
}
    .keynote-speakers .speaker img{
    display: block;
}
    .keynote-speakers .speaker .info{
    padding: 0;
    width: 100%;
}
    footer .socials-holder{float: none !important;text-align: center;}
    footer .socials{
    text-align: center;
}
    footer nav{
    float: none;
    text-align: center;
    margin-top: 30px;
}
    .module-content h2{
    font-size: 24px;
}
    .module-content p{
    font-size: 16px;
}
    .the-venue{padding: 75px 0px;}
    .take-part{padding: 75px 0px;}


    .description{padding: 75px 0;}

    header .logo{
    /* padding-left: 20px; */
}
    header .titles{}
    header nav{
}
    header nav a{
}

    .the-bar .info-holder{
    padding: 0 20px;
}
    .the-bar .logo-holder{
    width: 190px;
}
    .the-bar .logo-holder img{}
    .the-bar{
    
}
    .description .container{
   padding: 50px 20px;
}
    .description p{
   font-size: 16px;
}
    .the-bar .info-holder h2{
   
}
    .the-bar .info-holder p{
   margin-bottom: 10px;
}
    .the-bar .info-holder .form-group{
    
}
    .the-bar .info-holder .form-control{
    padding-right: 10px;
    height: 50px;
}
    .the-bar .info-holder form .submit-btn{
    position: static;
    width: 100%;
    margin: 5px 0;
}
    .socials{}
    .socials .mail{}
    .socials .social{}
    .socials .social:last-child{}
    .the-bar .info-holder h2 i{
    display: none;
}
    .the-bar .info-holder h2 span{
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
}
    .the-bar .info-holder h2 span:last-child{
    font-size: 20px;
}
    .description h2{
    font-size: 20px;
}
    .text-content-header{
    padding: 70px 0;
}
    .text-content{padding: 0 20px 40px 20px;}
    .text-content p{
    font-size: 16px;
}
    .text-content h3{
    font-size: 20px;
}

    footer .logos{
        text-align: center;
    }
}

@media only screen and (max-width : 480px) {
    .bottom-logos .logos a:after{display: none;}
    .bottom-logos .logos .cmple{
    width: 200px;
    padding: 0 14px;
    display: block;
    margin: 0 auto;
}
    .bottom-logos .logos .pyist{
    padding: 0 14px;
    width: 110px;
    display: block;
    margin: 20px auto 0;
}
    .bottom-logos .logos a{}
    .sponsors .tier-2 h3, .sponsors .tier-1 h3{}
    .sponsors .tier-2 .logo-holder img, .sponsors .tier-1 .logo-holder img{}
    .sponsors .tier-2 .logo-holder, .sponsors .tier-1 .logo-holder{}
    .sponsors .tier-2 .sponsor{
    width: 100%;
    padding-right: 0;
}{}
    footer nav a{
    display: block;
    font-size: 14px;
    text-align: left;
    margin: 0 0px 10px 0;
}
    header nav{
    top: 91px;
}
    header .nav-trigger{
    margin: 45px 0;
    position: absolute;
    top: 40px;
    right: 20px;
    margin: 0;
}
    
    header .titles, footer .titles{
    padding-left: 4px;
}
    header .logo img, footer .logo img{
    width: 60px;
}
    header .titles h1, footer .titles h1{
    font-size: 16px;
}
    header .titles h2, footer .titles h2{
    font-size: 13px;
}
    .the-venue .venue{margin:40px auto 0;}
    .the-bar .info-holder p{
    font-size: 16px;
    max-width: 100%;
    margin-bottom: 10px;
}
    .socials{
    text-align: center;
}
    .socials .mail{
    width: 90%;
    margin: 10px 0;
}
    .socials .social{}
    .socials .social:last-child{}

    footer .logos{
        text-align: center;
    }

}

@media only screen and (max-width : 350px) {
    header .logo img, footer .logo img{}
}


@media only screen and (max-width : 320px) {
    
}






